@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");

/*------------------
    Major Content
-------------------*/

* {
    box-sizing: border-box;
	color: rgb(223, 219, 219);
	font-family: "Baloo Chettan 2", cursive;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

input {
	color: black;
	background-color: rgb(241, 237, 237);
}

#app {
	display: flex;
	flex-direction: column;
}

/*-------------
    navbar
---------------*/

nav {
	display: flex;
	align-items: center;
	height: 7vh;
	background-color: #18181b;
}

nav a {
	padding: 9px 15px 9px 15px;
	text-align: center;
}

nav a:hover {
	background-color: #1e1e20;
}

/* -------------------------
    Signup page + Home page
--------------------------- */
.home-container {
	display: flex;
	flex-direction: column;
	height: 93vh;
	width: 100;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #26262c;
	padding: 30px;
	height: 90%;
	margin: 0;
}

.submit-div {
	display: flex;
	flex-direction: row;
}

footer {
	display: flex;
    justify-content: center;
    background-color: #1f1f23;
	height: 10%;
	margin: 0;
}
.footer_text{
    display: flex;
    color: #880168;
}

.button {
	border: 1px solid rgb(104, 102, 102);
	border-radius: 5px;
	background: none;
	padding: 10px 30px;
	margin: 10px 5px;
	font-size: 1em;
}

.button:hover {
	background-color: #34343b;
}

.home div h1 {
    display: flex;
    font-size: 3em;
    text-align: center;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	height: 70%;
}

.sign-up-form input,
.normal-input {
	padding: 5px;
	margin-bottom: 10px;
}

.sign-up-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sign-up-text h2 {
	font-size: 2em;
	margin: 0px 0px 0px 0px;
}

.take-space-div {
	height: 150px;
}

.login-text {
    display: flex;
    padding-bottom: 20px;
    color: #880168;
}

.input-with-margin {
	margin-left: 3px;
}

/* ------------
    ChatApp
------------- */

.chat-app-cover-div {
    display: flex;
    flex-direction: row;
    height: 93vh;
    width: 100%;
    background-color: #26262c;
}

.message-component-div {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.channel-box-div {
   width: 35%;
   height: auto;
   background-color: #212126;
   overflow-y: auto;
    overflow-x: hidden;
    font-size: small;
}

.message-box-div {
    height: 82%;
    overflow: auto;
}

.send-message-form {
    height: 18%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 25px;
}

.send-message-textarea, .send-message-button {
    height: 100%;
    outline: none;
    border: none;
}

.send-message-textarea {
    font-size: 1em;
    width: 80%;
    background-color: #303036;
    border-radius: 10px 0px 0px 10px;
    resize: none;
    padding: 10px;
    font-size: smaller;
}

.send-message-button {
    width: 25%;
    background-color: #303036;
    margin-left: 1px;
    border-radius: 0px 10px 10px 0px;
    font-size: smaller;
}
.send-message-button:hover{
    background-color: #59595f; 
}

/* --------------
    Message Box
----------------*/

.message-div {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-bottom: 10px;
}

.inner-message-div {
    display: flex;
    flex-direction: row;
}

.inner-message-div p {
    margin: 0px;
}

.message-p {
    color: rgb(248, 247, 247);
    margin: 0px 0px 10px 0px;
    font-size: small;
}

.message-name {
    line-height: 1em;
    color: rgb(175, 174, 174);
    font-weight: 500;
    padding: 5px 5px 5px 0px;
    font-size: small;
}

.message-date {
    line-height: 1em;
    color: rgb(150, 148, 148);
    font-weight: 100;
    vertical-align: bottom;
    padding: 10px 10px 10px 10px;
    font-size: 5px;
    width: 50%;
}

.delete-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    size: 30%;
    margin-right: 12px;
}

.create-new-channel {
    display: flex;
    margin-top: 100px;
    background-color: #303036;
    padding-top: 10px;
 }

.createButton {
    display: flex; 
	border-radius: 4px;
	background-color: gray;
}
.createButton:hover {
	background-color: darkgray;
}

.remove-user-button {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    font-size: 5px;
    
    margin-right: 15px;
}

/*
    Other
*/

.channel-name-div {
    display: flex;
    width: 20%;
    height: 30px;
    margin :1px;
    box-sizing: border-box;
    font-size: 10px;
    justify-content: space-between;
}

.channel-name-div h3 {
    display: flex;
    margin: 2px 0px ;
    cursor: pointer;
    }

.join-button {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 5;
    height: 50%;
    font-size: smaller;
}

 .join-button:hover {
    background-color: #59595f;
}

.channel-name-div h4 {
    margin: 7px 10px;
}
.userCh{
    display: flex;
    color: #880168;
}

.userLog{
    display: flex;
    color: #880168;
    }
    .currentCH{
        display: flex;
        color: gray;
    }
    .sign{
        display: flex;
        color: #880168;

    }
    .button2 {
        border: 1px solid rgb(104, 102, 102);
        border-radius: 5px;
        background: none;
        margin: 10px 1px;
        
    }
    
    .button2:hover {
        background-color: #59595f;
    }
    